extends layout

block content
  .jumbotron
    .container
      h1 #{title}
      p.lead
        | Esta es una aplicación web creada con Nodejs, Express y Nodemailer para el envio de correos electrónicos. 