extends layout

block content
  .jumbotron
    .container
      h1 #{title}
      p.lead
        | Somos una organización la cual se dedica a crear aplicaciones web utilizando tecnologías como Angular, Nodejs, Laravel, Bootstrap, JQuery, HTML5, CSS 3 y C#.
        br
        br
        | Adicionalmente prestamos servicios de ingeniería en el campo de redes LAN y mantenimiento de equipos informáticos.
  section.info
    .infoContent
      .col-md-4
        article.block
          i.icon-social.fa.fa-linkedin
          h3
            p Linkedin
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolorem rerum nostrum, facilis, harum ad tenetur atque similique ex adipisci. Expedita cumque natus id, vel quod similique sunt, perferendis at!
          a.btn.btn-outline-secondary(href="https://co.linkedin.com", target="_blank") Ver
      .col-md-4
        article.block
          i.icon-social.fa.fa-twitter
          h3
            p Twitter
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolorem rerum nostrum, facilis, harum ad tenetur atque similique ex adipisci. Expedita cumque natus id, vel quod similique sunt, perferendis at!
          a.btn.btn-outline-secondary(href="https://twitter.com", target="_blank") Ver    
      .col-md-4
        article.block
          i.icon-social.fa.fa-youtube-play
          h3
            p YouTube
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolorem rerum nostrum, facilis, harum ad tenetur atque similique ex adipisci. Expedita cumque natus id, vel quod similique sunt, perferendis at!
          a.btn.btn-outline-secondary(href="https://www.youtube.com", target="_blank") Ver